force-app/main/default/flows/Manager_Opp_1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Copy_Roles_List</name>
        <label>Copy Roles List</label>
        <locationX>699</locationX>
        <locationY>3038</locationY>
        <assignmentItems>
            <assignToReference>RolesWithIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Init_OpportunityId_for_Roles</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Init_OpportunityId_for_Roles</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Init_Account_Name</name>
        <label>Init Account Name</label>
        <locationX>842</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>Account.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_by_action.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountIdForOpp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Opp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Init_Account_Name_0</name>
        <label>Init Account Name</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>Account.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_by_Case.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountIdForOpp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Opp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Init_Account_Name_1</name>
        <label>Init Account Name</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>Account.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selectedAccount.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountIdForOpp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selectedAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Opp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Init_Account_Name_2</name>
        <label>Init Account Name</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>Account.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewAccName.lastName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Opp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Init_OpportunityId</name>
        <label>Init OpportunityId</label>
        <locationX>699</locationX>
        <locationY>2342</locationY>
        <assignmentItems>
            <assignToReference>Init_OppId_for_Products.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewOppId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Init_ProductsWithId_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Init_OpportunityId_for_Roles_Assigment</name>
        <label>Init OpportunityId for Roles Assigment</label>
        <locationX>699</locationX>
        <locationY>2918</locationY>
        <assignmentItems>
            <assignToReference>Init_OpportunityId_for_Roles.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewOppId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_Roles_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Init_ProductsWithId_List</name>
        <label>Init ProductsWithId List</label>
        <locationX>699</locationX>
        <locationY>2462</locationY>
        <assignmentItems>
            <assignToReference>ProductsWithId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Init_OppId_for_Products</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Init_OppId_for_Products</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Account_Founded</name>
        <label>Account Founded?</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Init_Account_Name_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Account_Founded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNewAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_new_Account</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_or_Account</name>
        <label>Case or Account?</label>
        <locationX>611</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Get_Account_by_action</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>500</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Case</targetReference>
            </connector>
            <label>Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_with_account</name>
        <label>Case with account?</label>
        <locationX>380</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Get_Account_by_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Case_In_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Search</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Have_new_Account</name>
        <label>Have new Account?</label>
        <locationX>611</locationX>
        <locationY>1766</locationY>
        <defaultConnector>
            <targetReference>Insert_Opp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_New_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNewAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Insert_Account</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Picklist_Opp_Stage</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>StageName</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PriceBookPL</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Pricebook2</object>
        <outputAssignments>
            <assignToReference>PriceBookID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Manager Opp 1 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Manager Opp 1</label>
    <loops>
        <name>Init_OppId_for_Products</name>
        <label>Init OpportunityId for Products</label>
        <locationX>611</locationX>
        <locationY>2222</locationY>
        <collectionReference>Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Init_OpportunityId</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insert_Product</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Init_OpportunityId_for_Roles</name>
        <label>Init OpportunityId for Roles</label>
        <locationX>611</locationX>
        <locationY>2798</locationY>
        <collectionReference>ContactRoleLIST</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Init_OpportunityId_for_Roles_Assigment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insert_Roles</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Insert_Account</name>
        <label>Insert Account</label>
        <locationX>479</locationX>
        <locationY>1886</locationY>
        <assignRecordIdToReference>AccountIdForOpp</assignRecordIdToReference>
        <connector>
            <targetReference>Insert_Opp</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>NewAccName.lastName</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordCreates>
        <name>Insert_Opp</name>
        <label>Insert Opp</label>
        <locationX>611</locationX>
        <locationY>2102</locationY>
        <assignRecordIdToReference>NewOppId</assignRecordIdToReference>
        <connector>
            <targetReference>Init_OppId_for_Products</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>AccountIdForOpp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>Close_Date_Opp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Name_Opp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <elementReference>Stage_Opp</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordCreates>
        <name>Insert_Product</name>
        <label>Insert Product</label>
        <locationX>611</locationX>
        <locationY>2678</locationY>
        <connector>
            <targetReference>Init_OpportunityId_for_Roles</targetReference>
        </connector>
        <inputReference>ProductsWithId</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Insert_Roles</name>
        <label>Insert Roles</label>
        <locationX>611</locationX>
        <locationY>3254</locationY>
        <connector>
            <targetReference>Final_Screen</targetReference>
        </connector>
        <inputReference>RolesWithIds</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_by_action</name>
        <label>Get Account by action</label>
        <locationX>842</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Init_Account_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_by_Case</name>
        <label>Get Account by Case</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Init_Account_Name_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>380</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_with_account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <description>search account if global action</description>
        <name>Account_Search</name>
        <label>Account Search</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Account_Founded</targetReference>
        </connector>
        <fields>
            <name>searchAccountCmp</name>
            <extensionName>c:searchAccount</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>isNewAccount</assignToReference>
                <name>isNewAccount</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>selectedAccount</assignToReference>
                <name>selectedAccount</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Choose_Pricebook</name>
        <label>Choose Pricebook</label>
        <locationX>611</locationX>
        <locationY>1406</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Products</targetReference>
        </connector>
        <fields>
            <name>text_pricebook</name>
            <fieldText>&lt;p&gt;Please, choose a pricebook&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Available_PriceBooks</name>
            <choiceReferences>PriceBookPL</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Available PriceBooks</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_Contact_Role</name>
        <label>Create Contact Role</label>
        <locationX>611</locationX>
        <locationY>1646</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Have_new_Account</targetReference>
        </connector>
        <fields>
            <name>Create_Role_Aura</name>
            <extensionName>c:createContactRole</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>AccountId</name>
                <value>
                    <elementReference>AccountIdForOpp</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ContactRoleLIST</assignToReference>
                <name>Roles</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_new_Account</name>
        <label>Create new Account</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Init_Account_Name_2</targetReference>
        </connector>
        <fields>
            <name>text_create_account</name>
            <fieldText>&lt;p&gt;Create new account&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>NewAccName</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldsToDisplayList</name>
                <value>
                    <stringValue>lastName</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_Opp</name>
        <label>Create Opp</label>
        <locationX>611</locationX>
        <locationY>1286</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Choose_Pricebook</targetReference>
        </connector>
        <fields>
            <name>text_create_opp</name>
            <fieldText>&lt;p&gt;Create new opportunity for:&lt;/p&gt;&lt;p&gt;Account Name: {!Account.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Name_Opp</name>
            <dataType>String</dataType>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Close_Date_Opp</name>
            <dataType>Date</dataType>
            <fieldText>Close Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Stage_Opp</name>
            <choiceReferences>Picklist_Opp_Stage</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Stage</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_Products</name>
        <label>Create Products</label>
        <locationX>611</locationX>
        <locationY>1526</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Contact_Role</targetReference>
        </connector>
        <fields>
            <name>createProductsCmp</name>
            <extensionName>c:createOpportunityProductList</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>PriceBookID</name>
                <value>
                    <elementReference>PriceBookID</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Products</assignToReference>
                <name>Products</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Final_Screen</name>
        <label>Final Screen</label>
        <locationX>611</locationX>
        <locationY>3374</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>redirect_cmp</name>
            <extensionName>c:redirectComponent</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>NewOppId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>NewOppId</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>485</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Case_or_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>founded account</description>
        <name>Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>AccountIdForOpp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContactRoleLIST</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>isNewAccount</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NewOppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PriceBookID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Products</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>ProductsWithId</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RolesWithIds</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>selectedAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
